.Portrait {
    padding-left: 20%;
    padding-top: 10%;
    grid-area: por;
    color: white;
    background-image: url("./../../media/image.jpg") ;
    background-size: cover;
}

.iconContainer>a{
    padding-right: 2%;
    margin-right: 2%;
}

@media(min-width:1000px){
    .Portrait{
        padding-top: 30%;
    }
}

.Portrait a:hover{
    filter: drop-shadow(3px 3px blue);
    padding-top: 10px;
    padding-left: 5px;
    background-color: white;
    border-radius: 30px;
}